name: CI

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # test against latest update of each LTS Java version:
        java: [ 8, 11, 17 ]
        # test against major operating systems
        os: [ubuntu-latest, windows-latest, macos-latest]
    name: Java ${{ matrix.java }} on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup java
        uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: 'adopt'
          cache: 'maven'
      - name: Check formatting
        if: ${{ matrix.java != 8 }} # Spotless does not support Java 8
        run: mvn -B spotless:check
      - name: Run tests
        run: mvn -B test
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.java == 17 }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
